{
    "extends": [
        "airbnb",
        "react-app"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "env": {
		"browser": true,
		"jest": true,
		"es6": true
	},
	"rules": {
        "indent": "off",
        "camelcase": "off",
        "react/jsx-indent": "off",
        "react/jsx-indent-props": "off",
        "react/prop-types": "off",
        "react/destructuring-assignment": "off",
        "jsx-quotes": "off",
        "import/prefer-default-export": "off",
        "prefer-template": "off",
        "jsx-a11y/interactive-supports-focus": "off",
        "react/jsx-props-no-spreading": "off",
        "arrow-body-style": "off"
    }
}
